#results {
    width: 80%;
}

.result {
    background-color: #E8E8E8;
    margin: 5px;
    padding: 5px 8px;
    width: 100%;
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
}

.tierTwoResult {
    background-color: #E8E8E8;
    margin: 5px;
    padding: 5px 8px 10px;
    width: 100%;
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
}

.common-terms {
    /*float: right;*/
    height: 20%;
}

.metadata {
    /*float: left;*/
    height: 80%;
}

.side-box-float {
    position: fixed;
    background: #999;
    width: 30%;
    height: 500px;
    right: 50px;
    top: 100px;
    padding: 10px;
}

.title {
    width: 80%;
}

.searchFields {
    width: 80%;
    margin: auto;
    align: center;
}

.searchBox {
    float: left;
    position: relative;
    margin: 0 5px;
    width: 28%;
    align: left;
}

.searchRow {
    margin-left: 4px;
    align: center;
}

.scoreTable {
    width: 75%;
    margin: auto;
}

#textBody {
    background-color: cornflowerblue;
}

#scoreDiv {

}

.secondTierLink {
    border : thin;
    margin-bottom: 10px;
}

.termInfo {
    margin: 0px;
}

.resultHeader {
    margin-top: 4px;
    margin-bottom: 0;
}

.res-author, .res-conference {
    margin-top: 4px;
    margin-bottom: 4px;
}