#results {
    width: 800px;
}

.result {
    background-color: #999999;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.res-title {
    font-size: large;
}

.res-author {
    font-size: small;
}

.res-conference {
    font-size: small;
}

.common-terms {
    float: right;
    height: 100%;
}

.side-box-float {
    position: fixed;
    background: #999999;
    width: 300px;
    height: 500px;
    right: 50px;
    top: 100px;
    padding: 10px;
}