.result {
    background-color: #999999;
    margin: 5px;
    padding: 5px;
    width: 50%;
}

.res-title {
    font-size: large;
}

.res-author {
    font-size: small;
}

.res-conference {
    font-size: small;
}