#results {
    width: 60%;
}

.result {
    background-color: #999999;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.common-terms {
    /*float: right;*/
    height: 20%;
}

.metadata {
    /*float: left;*/
    height: 80%;
}

.side-box-float {
    position: fixed;
    background: #999999;
    width: 30%;
    height: 500px;
    right: 50px;
    top: 100px;
    padding: 10px;
}